<div class="container my-5">
    <h1>{{username}}'s Dashboard</h1>

    <h3>Resumes: </h3>

    {{#each resumes}}
        <div class="card text-center my-4">
            <div class="card-body my-3">
                <h4>{{fname}} {{lname}}</h4>
                <div class="contact">
                    <p>{{email}}</p>
                    <p>GitHub: {{github}}</p>
                </div>
                

                <div id="education-history">
                <h6 id="work-history-head">EDUCATION:</h6>
                <hr>
                <h6 id="company">{{institute1}}</h6>
                <p>{{degree1}}</p>
                <p class="startend">
                    Start Date: {{format_date edstart1}}
                </p>
                <p class="startend">
                    End Date: {{format_date edend1}}
                </p>

                {{#if institute2}}
                <h6 id="company">{{institute2}}</h6>
                <p>{{degree2}}</p>
                <p class="startend">
                    Start Date: {{format_date edstart2}}
                </p>
                <p class="startend">
                    End Date: {{format_date edend2}}
                </p>
                {{/if}}

                {{#if institute3}}
                <h6 id="company">{{institute3}}</h6>
                <p>{{degree3}}</p>
                <p class="startend">
                    Start Date: {{format_date edstart3}}
                </p>
                <p class="startend">
                    End Date: {{format_date edend3}}
                </p>
                {{/if}}
            </div>

            <div id="work-history">
                <h6 id="work-history-head">WORK EXPERIENCE:</h6>
                <hr>
                <h6 id="company">{{company1}} || {{role1}}</h6>
                <ul>
                    <li>{{description1}}</li>
                </ul>
                <p class="startend">
                    Start Date: {{format_date rolestart1}}
                </p>
                <p class="startend">
                    End Date: {{format_date roleend1}}
                </p>

                {{#if company2}}
                <h6 id="company" class="company-margin">{{company2}} || {{role2}}</h6>
                <ul>
                    <li>{{description2}}</li>
                </ul>
                <p class="startend">
                    Start Date: {{format_date rolestart2}}
                </p>
                <p class="startend">
                    End Date: {{format_date roleend2}}
                </p>
                {{/if}}

                {{#if company3}}
                <h6 id="company" class="company-margin">{{company3}} || {{role3}}</h6>
                <ul>
                    <li>{{description3}}</li>
                </ul>
                <p class="startend">
                    Start Date: {{format_date rolestart3}}
                </p>
                <p class="startend">
                    End Date: {{format_date roleend3}}
                </p>
                {{/if}}
            </div>

            <div id="skills">
                <h6 id="work-history-head">SKILLS:</h6>
                <hr>
                <ul>
                    <li>{{skill1}}</li>
                    <li>{{skill2}}</li>
                    <li>{{skill3}}</li>
                </ul>
            </div>

            

            
        </div>
        </div>


    {{/each}}


    <div class="card my-5">
        <div class="card-header" id="card-header">
            <h3 class="m-3">Comments</h3>
        </div>

        <div class="card-body m-3">
            {{#each comments}}
            <p>{{content}}</p>

            <p>&mdash; {{format_date createdAt}}</p>
            {{/each}}
        </div>

    </div>

</div>